@import url('https://fonts.googleapis.com/css?family=Oswald00,700&display=swap');
@font-face{
    font-family:  "Oswald";
    src: url(../fonts/Oswald-script_[allfont.ru].ttf)
}
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}
.page {
    overflow: hidden;
}
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;
    background: url("../images/images.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}
.intro__title {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    color: #fff;
}
.intro_text {
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #fff;
}

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header.fixed {
    padding: 10px 0;
    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
}
.header.active {
    background-color: #eb8b8d;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}
.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav__link:hover {
    color: #fad41b;
}
.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}
.nav__link.active {
    color: #fce38a;
}
.section {
    padding: 40px 0;
}
.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}
#zapis_tt{
    color: #ffffff;
}
.section__title {
   
    font-size: 30px;
    font-weight: 700;
    color: #283482;
    text-transform: uppercase;
}
.section__text {
    font-size: 15px;
    color: #000000;
}
  /* ФОРМА */
.action_page{
     padding-left: 100px;
  }
.disk {
    padding: 16px;
  }
input[type=text] {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 10px;
  }
  .zapis {
    background-color: #283482;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    opacity: 0.9;
  }
   /* ФОРМА */

.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__item {
    width: 33.33333%;
    padding: 0 15px;
}
.card__inner {
    position: relative;
    background-color: #283482;
}
.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}
.card__inner:hover .card__img img {
    opacity: .1;
}
.card__inner:hover .card__text {
    opacity: 1;
}
.card__img {
    background: linear-gradient(to bottom, #ffffff, #fad41b);

    transition: transform .2s linear;
}
.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}
.card__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}
.card__info {
    margin-top: 20px;
    text-align: center;
}
.card__name {
    margin-bottom: 5px;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
}
.card__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #283482;
}
.services {
    display: flex;
    flex-wrap: wrap;
}
.services__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}
.lecs_title{
    color: #283482;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
.works{
    float: left;
    padding-left: 30px;
}
.All_lecs{
    margin-top: 100px;
}
#All_title{
    text-align: center;
    padding-bottom: 20px;
}
#two{
    padding-left: 100px;
}
#two_two{
    padding-left: 100px;
    padding-top: 80px;
}
#part_two{
    padding-top: 80px;
}
.lecs_img{
    padding-left: 50px;
}
.lecs_text{
    color: #000000;
   text-align: center;
}
.fa-user-friends{
   color:#fad41b ;
   padding-left: 100px;
}
.fa-book{
    color:#fad41b ;
    padding-left: 100px;
 }
 .fa-stamp{
    color:#fad41b ;
    padding-left: 100px;
 }

.vv_one{
    margin-left: -40px;

}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: #283482;
    text-transform: uppercase;
}
.services__text {
    font-size: 15px;
    color: #000000;
    text-align: center;
}
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.social {
    display: flex;
    justify-content: center;
}
.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background-color: #283482;
    border-right: 1px solid #fff;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    line-height: 1;
    transition: background .1s linear, color .1s linear;
}
.social__item:last-child {
    border-right: 0;
}
.social__item:hover {
    color: #fff;
    background-color: #fad41b;
}


.works {
    display: flex;

}

.works__col {
    flex: 1 1 0;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
.header__logo{
  
    display: block;
}
.footer{
    padding-bottom: 50px;
}
.footer__title{
    color: #fad41b;
    font-size: 20px;
    text-transform: uppercase;
}
.tit_p{
    color: #283482;
    font-size: 15px;
}
.icon_down{
    float: right;
    margin-top: -170px;
}
.ic_tit{
    color: #fad41b;
    font-size: 20px;
}  
.tit{
    padding-left: 840px;
    color: #283482;
}
#icon{
    padding-left: 6px;
    color: #283482;
}
.tit_p_one{
    color: #fad41b;
    font-size: 20px;
    text-transform: uppercase;
   margin-top: -80px;
   padding-left: 280px;
   
}
.tit_p_two{
    color: #fad41b;
    font-size: 20px;
    text-transform: uppercase;
   margin-top: -50px;
   padding-left: 440px;
}
.tit_p_three{
    color: #fad41b;
    font-size: 20px;
    text-transform: uppercase;
   margin-top: -50px;
   padding-left: 600px;
}
.tit_p_thro{
    color: #fad41b;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 850px;
    margin-top: -50px;
}





/* Собственно сам слайдер */
.slider{
    max-width: 80%;
    position: relative;
    
    height: 300px;
    margin-bottom: 130px;
    margin: auto;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}


/* Кружочки */

.slider-dots {
  text-align: center;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}


/* Анимация слайдов */

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


